odoo12-addon-sale_restricted_qty @ git+https://github.com/OCA/sale-workflow@refs/pull/1154/head#subdirectory=setup/sale_restricted_qty
odoo12-addon-pim @ git+https://github.com/shopinvader/odoo-pim@12.0#subdirectory=setup/pim
odoo12-addon-attribute_set @ git+https://github.com/shopinvader/odoo-pim@12.0#subdirectory=setup/attribute_set
odoo12-addon-product_attribute_set @ git+https://github.com/shopinvader/odoo-pim@12.0#subdirectory=setup/product_attribute_set
odoo12-addon-attribute_set_completeness @ git+https://github.com/shopinvader/odoo-pim@12.0#subdirectory=setup/attribute_set_completeness
odoo12-addon-product_attribute_set_completeness @ git+https://github.com/shopinvader/odoo-pim@12.0#subdirectory=setup/product_attribute_set_completeness
odoo12-addon-attribute_set_mass_edit @ git+https://github.com/shopinvader/odoo-pim@12.0#subdirectory=setup/attribute_set_mass_edit
odoo12-addon-attribute_set_searchable @ git+https://github.com/shopinvader/odoo-pim@12.0#subdirectory=setup/attribute_set_searchable
openupgradelib @ git+https://github.com/OCA/openupgradelib.git@master
