.pos .modal-dialog .popup-select-config-option{
    margin-left:0;
    margin-top:0;
    left:5%;
    width: 90%;
    top:5%;
    height: 670px;
}

.pos div.config-options {
    width: 100%;
    overflow-y: auto;
    height: 550px;
    text-align: center;
}

.pos .config-options table {
    table-layout: auto;
    width: 100%;
    border: 1px solid darkgray;
    border-collapse: collapse;
}

.pos .config-options td, .pos .config-options th {
    border: 1px solid darkgray;
}

.pos .config-options tr:hover td {
    background: lightgray;
}

.pos .element button.add{
    font-size: 1.3em;
    font-weight: bold;
}

.pos .element .description{
    max-width: 400px;
    text-align: left;
    padding: 5px;
}

.pos .element button.remove{
    font-size: 1.3em;
    font-weight: bold;
}

.pos .element input.quantity{
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    width: 40px;
}

.pos .element textarea{
    width: 95%;
}
